
# ctl+o to enumerate the files/folders
# For example, use input 'ls .*' then press ctl+o to enumerate the hidden files.
'\C-o':menu-complete

# run bind -f .inputrc after updating
# bind 'home' and 'end'
"\e[1~": beginning-of-line
"\e[4~": end-of-line
